{% extends 'CMSBase.html' %}
{% load crispy_forms_tags %}
{% block content %} 
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-3">
      <li class="breadcrumb-item"><a href="{% url 'CMSHome' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'ManageProfile' user.id %}">Manage Profile</a></li>

      <li class="breadcrumb-item active" aria-current="page">Change Password</li>
    </ol>
  </nav>

    <h2>Change Password</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <a href="{% url 'ManageProfile' user.id %}" style="" class="btn btn-primary">Back</a>
        <button class="btn btn-success" style="" type="submit">Submit</button>
    </form>
</div>
{% endblock content %}