{% extends "CMSBase.html" %} 
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mt-3">
            <li class="breadcrumb-item"><a href="{% url 'CMSHome' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'ManageWebPages' %}">Manage Webpages</a></li>
            <li class="breadcrumb-item active" aria-current="page">Delete a Webpage</li>
        </ol>
      </nav>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %} 
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Delete A Webpage</legend>
        </fieldset>
        <div class="form-group">
            <strong>Are you sure you want to delete {{Webpage.HeaderTitle}} forever?!</strong>
            <button class="btn btn-danger" style="width: 100%;" type="submit">Delete Webpage...</button>
        </div>
    </form>

   </div>
{% endblock content %} 